packages:
  yum:
    openssl11: []
    openssl11-devel: []

commands:
  01-install-certbot:
    command: python3 -m pip install urllib3==1.26.6 certbot certbot-nginx
    ignoreErrors: true
  02-execute-certbot:
    command: certbot certonly --nginx -d taskerizer.fmchtt.dev.br -m felipehmicheletto@gmail.com --agree-tos
    ignoreErrors: true